@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  background-color: rgb(69, 66, 66);
  padding: 10px 0;
  margin-bottom: 50px;
  color: white;
}
body {
  height: 100vh;
  background-color: grey;
  font-family: "Montserrat", serif;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
input {
  outline: none;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  display: inline-block;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.expense-from {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.expense-tracker {
  display: flex;
  gap: 30px;
}
.expense-tracker .add-budget-box {
  align-self: flex-start;
}

.expense-from label,
.add-budget label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.expense-from label span,
.add-budget label span {
  font-weight: 700;
}

.add-budget label {
  margin-bottom: 20px;
}

.add {
  cursor: pointer;
  align-self: center;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.add-budget-box {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-budget-box h3 {
  margin-top: 20px;
}
.expense-list {
  min-width: 50%;
  margin: 20px 0;
  overflow-y: auto;
}
.expense {
  display: grid;
  grid-template-columns: 6fr 1fr;
  padding: 5px 10px;
  background-color: #2ea44f;
  width: 100%;
  margin: 5px 0;
  color: white;
}

.your-expenses {
  margin-top: 20px;
}
.no-expense {
  text-align: center;
}
.buttons {
  display: flex;
  gap: 5px;
  align-self: right;
}

.buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  color: #3d3d3d;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.date-text {
  font-size: 12px;

  padding: 2px 3px;
  margin-left: 10px;
  font-style: italic;
}

.expense-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.expense-text {
  margin-left: 50px;
}
.date-text,
.description-text {
  justify-self: center;
}

.total-expense {
  margin-bottom: 30px;
}

.reset {
  padding: 10px 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
  font-size: 16px;
  color: white;
}
